<h1> Welcome to our Recipes Home Page! </h1>
<br>
<h2> <a href="/allrecipes">Click here to view all recipes submitted by our clients.</a></h2>
<br>
<h2> <a href="/new">Click here to submit a new recipe.</a></h2>
